<style>
    /* footer */
    .footer {
        background-color: #343a40;
        color: white;
        padding: 10px 0;
    }
</style>

<br><br>
<!-- Footer Section -->
<footer class="footer text-center">
    <h4 style="padding: 30px; color: #7a7a7a;">Contact us</h4>
            <p>อีเมล: sanan@gmail.com</p>
        <p>โรงงานเบเกอรี่ขายส่ง-ขายปลีก ,เขตกรุงเทพฯ, ประเทศไทย</p>
        <hr>
        <p>&copy; 2024 Croissant. All rights reserved.</p>
        <!-- <p>
            <a href="#">Privacy Policy</a> |
            <a href="#">Terms of Service</a> |
            <a href="#">Contact Us</a>
        </p> -->
</footer>