<style>
    /* footer */
    .footer {
        /* background-color: #343a40; */
        background-color: #a7743a;
        color: white;
        padding: 10px 0;

        margin-top: auto;
    }
</style>

<br><br>
<!-- Footer Section -->
<footer class="footer text-center">
    <h4 style="padding: 30px; color: #f0eeee;">Contact us</h4>
            <p>อีเมล: sanan@gmail.com</p>
        <p>Mamon Bakery ,เขตกรุงเทพฯ, ประเทศไทย</p>
        <hr>
        <p>&copy; 2024 MAMON. All rights reserved.</p>
        <!-- <p>
            <a href="#">Privacy Policy</a> |
            <a href="#">Terms of Service</a> |
            <a href="#">Contact Us</a>
        </p> -->
</footer>