<!DOCTYPE html>
<html lang="en">

<head>
    <!-- FontAwesome Icons CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Bootstrap 5 CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icon.png" />

    <!-- Bootstrap 5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/cart.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/profile.css">
    <title>MAMON</title>

    <!-- Navbar (App Bar) -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/" style="font-size: 24px;">MAMON</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" id="cartIcon"><i class="fas fa-shopping-cart">
                                <div id="count" class="lb">0</div>
                            </i>
                        </a>
                    </li>

                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script>
                        document.getElementById("cartIcon").addEventListener("click", function (event) {
                            event.preventDefault(); // ป้องกันการเปลี่ยนหน้า

                            let logIn = "<%= loggedIn %>"
                            if (!logIn) {
                                Swal.fire({
                                    title: "คุณยังไม่ได้ล็อกอิน",
                                    text: "กรุณาเข้าสู่ระบบเพื่อดูสินค้าในตะกร้า",
                                    icon: "warning",
                                    showCancelButton: true,
                                    confirmButtonText: "ล็อกอิน",
                                    cancelButtonText: "ยกเลิก",
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = "/login";
                                    }
                                });
                            } else {
                                window.location.href = "/cart";
                            }

                        });
                    </script>

                    <% if(loggedIn){ %>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li> -->

                    <div class="profile-container">
                        <img src="/imgProfile/user.png" class="profile-icon" id="profileBtn" />
                        <div class="dropdown-menu" id="dropdownMenu">
                            <p style="font-size: 16px; text-align: center;">Customer ID<br /><span
                                    style="font-size: 10px; color: rgb(168, 168, 168);"><%= loggedIn %></span></p>
                            <hr>
                            <!-- <a href="#" onclick="document.getElementById('id01').style.display='block'">Profile</a> -->
                            <a href="#">Profile</a>
                            <!-- <a href="#">Settings</a> -->
                            <a href="/logout">Logout</a>
                        </div>
                    </div>

                    <% } %>

                    <% if(!loggedIn){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/adminLogin"><span style="opacity: 0.5;">|</span> Admin Login <span
                                style="opacity: 0.5;">|</span></a>
                    </li>
                    <% } %>

                </ul>
            </div>
        </div>
    </nav>
    <script src="js/nav_drdo_profile.js"></script>

    <!-- Modal -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .city {
            display: none
        }
    </style>
    <div class="w3-container">
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom">
                <header class="w3-container w3-blue">
                    <span onclick="document.getElementById('id01').style.display='none'"
                        class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
                    <h2>Header</h2>
                </header>

                <div class="w3-bar w3-border-bottom">
                    <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'London')">London</button>
                    <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'Paris')">Paris</button>
                    <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'Tokyo')">Tokyo</button>
                </div>

                <div id="London" class="w3-container city">
                    <h1>London</h1>
                    <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9
                        million
                        inhabitants.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat.</p>
                </div>

                <div id="Paris" class="w3-container city">
                    <h1>Paris</h1>
                    <p>Paris is the capital of France.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>

                <div id="Tokyo" class="w3-container city">
                    <h1>Tokyo</h1>
                    <p>Tokyo is the capital of Japan.</p><br>
                </div>

                <div class="w3-container w3-light-grey w3-padding">
                    <button class="w3-button w3-right w3-white w3-border"
                        onclick="document.getElementById('id01').style.display='none'">Close</button>
                </div>
            </div>
        </div>

    </div>

    <script>
        document.getElementsByClassName("tablink")[0].click();

        function openCity(evt, cityName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].classList.remove("w3-light-grey");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.classList.add("w3-light-grey");
        }
    </script>